.h{
    text-align: center;
}
.img1{ 
    display: table;
    margin: auto;
    width: 50%;
}
.img2{ 
    display: table;
    margin: auto;
    border: 3px solid blue ;
}
.img3{ 
    display: table;
    margin: auto;
    border: 3px solid ;
}
@media screen and (max-width:600px) {
    .img1{ 
        display: table;
        margin: auto;
        width: 100%;
    }
    .h{
        text-align: center;
        font-size: 30px;
    }
           
    
}